{{#bs-navbar type='inverse' as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "bookings" class="navbar-brand"}}Track{{/link-to}}
  </div>
{{/bs-navbar}}

<div class="container">
  {{#each flashMessages.queue as |flash|}}
    <div class='data-test-flash'>
      {{flash-message flash=flash}}
    </div>
  {{/each}}

  {{outlet}}
</div>
