{{#bs-navbar type='inverse' as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "bookings" class="navbar-brand"}}Track{{/link-to}}
  </div>
{{/bs-navbar}}

<div class="container">
  {{outlet}}
</div>
