<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class='data-test-booking-search'>
      {{#bs-form formLayout='vertical' onSubmit=(perform search) as |form|}}
        {{form.element label="B/L Number" onChange=(action (mut searchTerm))}}
        {{loading-button
          buttonText='Search'
          type='primary'
          buttonType='submit'
          buttonTask=search
        }}
      {{/bs-form}}
    </div>
  </div>
</div>
